Source: runonce
Section: admin
Priority: optional
Maintainer: Josua Mayer <privacy@not.given>
Build-Depends:
 debhelper (>= 9),
 dh-exec,
 debhelper (>= 9.20160709) | dh-systemd
Standards-Version: 3.9.6
Homepage: https://github.com/Artox/system-startup-runonce

Package: runonce
Architecture: all
Depends: ${misc:Depends}, lsb-base
Description: run scripts and applications on (next boot), once
 This package provides a system service that is responsible for
 executing scripts or applications exactly once on the next boot.
 After successful execution, it will not be run again.
